name: Node.js CI

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      attestations: write
    steps:
    - uses: actions/checkout@v5
    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 23.5.0
        cache: 'npm'
    - run: npm ci
    - run: npm run build
    # - run: npm test
    - name: Attest
      uses: actions/attest-build-provenance@v2
      with:
        subject-path: 'app, public'
